<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="vue.js"></script>
  </head>

  <body>
    <div id="app">
      <!-- 1. 遍历对象时，仅获取一个值，该值显示是value -->
      <h2 v-for="message in user">{{message}}</h2>

      <!-- 2. 遍历对象的过程中，获取value和key，格式：(value, key) -->
      <h2 v-for="(value, key) in user">{{value}}-{{key}}</h2>

      <!-- 3. 遍历对象的过程中，获取value和key和index，格式：(value, key, index) -->
      <h2 v-for="(value, key, index) in user">{{value}}-{{key}}-{{index}}</h2>
    </div>

    <script>
      const app = new Vue({
        el: "#app",
        data: {
          user: {
            name: "why",
            age: 18,
            height: 1.88,
          },
        },
        methods: {},
      });
    </script>
  </body>
</html>
