<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="vue.js"></script>
  </head>

  <body>
    <div id="app">
      <h2 v-if="isShow">小狗</h2>
      <!-- isShow是false时，显示小猪 -->
      <h2 v-else>小猪</h2>

      <!-- <h2 v-if="score >= 90">优秀</h2>
      <h2 v-else-if="score >= 80">良好</h2>
      <h2 v-else-if="score >= 60">及格</h2>
      <h2 v-else>不及格</h2> -->

      <h2>{{result}}</h2>
    </div>

    <script>
      const app = new Vue({
        el: "#app",
        data: {
          isShow: true,
          score: 99,
        },
        computed: {
          result() {
            let showMessage = "";
            if (score >= 90) {
              showMessage = "优秀";
            } else if (score >= 80) {
              showMessage = "良好";
            } else if (score >= 60) {
              showMessage = "及格";
            } else {
              showMessage = "不及格";
            }
          },
        },
      });
    </script>
  </body>
</html>
