<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="vue.js"></script>
  </head>

  <body>
    <div id="app">
      <!-- checkbox单选框 -->
      <label for="license">
        <input
          type="checkbox"
          id="license"
          value="agree"
          v-model="isAgree"
        />同意协议
      </label>
      <h2>您选择的是: {{isAgree}}</h2>
      <button :disabled="!isAgree">下一步</button>
      <!-- checkbox复选框 -->
      <label for="basketball">
        <input
          type="checkbox"
          id="basketball"
          value="篮球"
          v-model="hobbies"
        />篮球
      </label>
      <label for="soccer">
        <input type="checkbox" id="soccer" value="足球" v-model="hobbies" />足球
      </label>
      <label for="batminton">
        <input
          type="checkbox"
          id="batminton"
          value="羽毛球"
          v-model="hobbies"
        />羽毛球
      </label>
      <label for="pingpong">
        <input
          type="checkbox"
          id="pingpong"
          value="乒乓球"
          v-model="hobbies"
        />乒乓球
      </label>
      <h2>您选择的是: {{hobbies}}</h2>
    </div>

    <script>
      const app = new Vue({
        el: "#app",
        data: {
          isAgree: false, //单选框 boolean类型
          hobbies: [], //复选框 数组类型
        },
        methods: {},
      });
    </script>
  </body>
</html>
